<div class="d-flex flex-column flex-shrink-0 p-3 bg-light-red min-vh-100 ps-4 pe-0 tear-nav" style="width: 280px;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark-red text-decoration-none">
        <span class="bi ps-4 me-2 text-dark-red" width="40" height="32">
            <%= render "icons/soup"%>
        </span>
        <span class="fs-3 fw-bold">UrbanEats</span>
    </a>
    <hr class="hr-clear">
    <ul class="nav flex-column mb-auto">
      <li class="nav-item">
        <a href="#" class="nav-link active-navbar text-black fw-bold" aria-current="page">
            <span class="text-dark-red bi ps-2 me-2" width="16" height="16">
                <%= render "icons/layout-dashboard"%>
            </span>
          Dashboard
        </a>
      </li>
      <li>
        <a href="#" class="nav-link text-black">
          <span class="text-dark-red bi ps-2 me-2" width="16" height="16">
                <%= render "icons/list"%>
            </span>
          Menu
        </a>
      </li>
      <li>
        <a href="#" class="nav-link text-black">
          <span class="text-dark-red bi ps-2 me-2" width="16" height="16">
                <%= render "icons/bag"%>
            </span>
          Orders
        </a>
      </li>
    </ul>

    <div class="dropdown center-single">
      <button type="button"  class="logout-btn fw-bold">Log Out</button>
    </div>
    
</div>