<div class="d-flex flex-column flex-shrink-0 p-3 light-red min-vh-100 ps-4 pe-0 tear-nav" style="width: 280px;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark-red text-decoration-none">
      <svg class="bi pe-none me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
      <span class="fs-4">UrbanEats</span>
    </a>
    <hr class="hr-clear">
    <ul class="nav flex-column mb-auto">
      <li class="nav-item">
        <a href="#" class="nav-link active-navbar text-black" aria-current="page">
          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
          Dashboard
        </a>
      </li>
      <li>
        <a href="#" class="nav-link text-dark-red">
          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
          Menu
        </a>
      </li>
      <li>
        <a href="#" class="nav-link text-dark-red">
          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#table"></use></svg>
          Orders
        </a>
      </li>
    </ul>
    
  </div>