<div class="container-fluid vh-100">
    <div class="row h-100">
        <div class="col-5 flex-grow-1 d-inline-block" style="background-color: rgb(254,242,242)">
            <div class="ms-5 mt-5">
                <p class="ms-5 mb-0 fs-1 fw-semibold">Boost your</p>
                <p class="ms-5 mb-0 fs-1 fw-semibold" style="margin-top: -17px;">revenue with</p>
                <p class="ms-5 fs-1 fw-bold text-dark-red" style="margin-top: -17px;">UrbanEats</p>
            </div>
        </div>
        <div class="col-7 flex-grow-1 d-inline-block d-flex align-items-center">
            <form class="w-50 mx-auto">
                <span class="fs-2 fw-bold">Welcome, our partner!</span>
                <p>Log in to your restaurant.</p>
                <div class="mb-3">
                    <label for="email" class="form-label text-body-tertiary">Emails</label>
                    <input type="email" class="form-control" id="email" placeholder="Type Here">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label text-body-tertiary">Password</label>
                    <input type="password" class="form-control" id="password" placeholder="Type Here">
                </div>
                <div class="mb-3 d-grid">
                    <button class="btn btn-dark-red"type="button">Log In</button>
                </div>
                <span class="d-flex justify-content-center text-body-tertiary" >Don't have an account?&nbsp <a href="#" class="text-decoration-none text-dark-red fw-semibold">Register</a></span>
            </form>
        </div>
    </div>
</div>