.bg-light-red{
    background-color: #FEF2F2;
}
.bg-dark-red{
    color: #fff;
    background-color: #D3364F !important;
}
.text-dark-red{
    color: #D3364F !important;
}
.active-navbar{
    color: black;
    height: 100%;
    width: 100%;
    background-color: white !important;
    border-radius: 100px 000px 00px 100px;
}
.tear-nav{
    border-radius: 00px 60px 00px 000px;
}

hr.hr-clear{
    opacity: 0;
}
.search-magnify{
    display: flex;
    align-items: center;
    justify-content: center;
}

.logout-btn{
    padding: .5rem .8rem;
    border: 2px solid #D3364F;
    border-radius: 8px;
    background-color: transparent;
    color:#D3364F;
}

.center-single{
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-dark-red{
    color: #fff !important;;
    background-color: #D3364F !important;
    border-color: #D3364F;
  }
  
.btn-dark-red:hover,
.btn-dark-red:active,
.btn-dark-red:focus,
.btn-dark-red.active {
    /* let's darken #004E64 a bit for hover effect */
    background: #bc2942 !important;;
    color: #ffffff !important;;
    border-color: #bc2942 !important;;
  }